*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 60%;
	margin: 0 auto;
	background-color: #000000;
	color: #ffffff;
	padding-top: 5%;
	/*font-family: 'Merriweather', serif;*/
	font-family: 'Titillium Web', sans-serif;
}

.container {
	width: 100%;
	height: 35vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 30px;
}
.header-right{
	flex-basis: 30%;
	flex-grow: 0.9;
}

.header-left{
	flex-basis: 30%;
}

.header-left img{
	  border-radius: 25% / 30% 20%;

	max-width: 90%;
	min-width: 20%;
}
.mid-text {
	padding-top: 40px;
	padding-bottom: 30px;
}

.end-part {
	padding-top: 70px;
}
hr {
  margin: 30px 30px;
  margin-left: 0px;
  height:-2px;
  width: 100%
  border-width:0;
  background-color:#1c1c1c;
}
.header-right p {
	display: inline-block;
	padding-right: 30px;
}
.header-right p:nth-of-type(3){
	text-align: right;
}

.row-one{
	text-align: center;
	display: flex;
	flex-direction: row; ;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 60px;
}
.row-two {
	display: flex;
	justify-content: space-between;
	height: 70px;

}
.end-part {
	padding-bottom: 200px;
}
.row-one img {
	 width: 60px;
    height: 55px;
}
.row-two img {
	 width: 60px;
    height: 55px;
}
.row-one div{
	display: flex;
	align-items: center;
}

.row-two div {
	display: flex;
	align-items: center;
}
.first em {
	padding-left: 25px;
}
.row-one img:nth-of-type(1){
	-webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.end-part h2{
	/*padding-bottom: 40px;*/
	border-bottom: 3px solid #717c29;
}
.content {
	padding-top: 20px;
}
